name: Parse Cargo.toml
on:
  workflow_call:
    outputs:
      version:
        value: ${{ jobs.metadata.outputs.version }}

jobs:
  metadata:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v6
      -
        name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      -
        id: version
        run: |
          VERSION=$(cargo metadata --no-deps --format-version 1 | jq -r '.packages[0].version')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
    outputs:
      version: ${{ steps.version.outputs.version }}
